In [1]:
import pandas as pd

In [2]:
a = [1, 7, 2]

In [3]:
myvar = pd.Series(a)

In [4]:
myvar

0    1
1    7
2    2
dtype: int64

In [5]:
myvar[0]

1

In [6]:
myvar1 = pd.Series(a, index = ["x", "y", "z"])

In [7]:
myvar1

x    1
y    7
z    2
dtype: int64

In [8]:
myvar1["y"]

7

In [9]:
calories = {"day1": 420, "day2": 380, "day3": 390}

In [10]:
myvar2 = pd.Series(calories)

In [11]:
myvar2

day1    420
day2    380
day3    390
dtype: int64

In [12]:
myvar3 = pd.Series(calories, index = ["day1", "day2"])

In [13]:
myvar3

day1    420
day2    380
dtype: int64

In [14]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar4 = pd.DataFrame(data)
myvar4

   calories  duration
0       420        50
1       380        40
2       390        45